/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

/*********************
BANNER STYLES
*********************/

#banner {
	display: block;
	background-color: $cd-banner-bg-blue;
	text-align: center;
	line-height: 0; /* funky...but works to remove the space below the child "inline-block" element */
	font-size: 0; /* funky...but works to remove the space below the child "inline-block" element */

	#inner-banner {
		display: inline-block;
		zoom: 1;
		*display: inline;

		> span {

			img {
				display: block;
				width: 100%;
				max-width: 900px;
			}

		}

		> div span:not(:first-child) { 
		display: none;  /* preventing flash of unstyled content */
	    }

	}
	
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	max-width: 960px;
}

/*********************
HEADER STYLES
*********************/

.header {}

	#top-numbers {

		/* styling phone numbers */
		a[href^="tel:"]:before { display: none; }
				
	}
	
/*********************
NAVIGATION STYLES
*********************/

/* hide the toggle button */
#inner-header  .btn-navbar {
	display: none;
}

/* Now we can always see the nav....with horiz styling */
#inner-header .nav-collapse.collapse {
	height: auto !important;
	overflow: visible !important;
	text-align: center;
	
	ul { text-align: left; padding: 0; }
	
	> ul {
		display: inline-block;
		zoom: 1;
		*display: inline;
		margin: 0 auto 15px;
		clear: both;
		background: none;
		border: none;
		
		> li {
			float: left;
			position: relative;
			margin: 0;
			
			a {
				font-size: 12px;
				font-weight: bold;
				display: block;
			}
		
			> a {
				padding: 5px 10px;
				line-height: 1;
				text-decoration: none;
				border: 1px solid #E6E6E6;
				border-width: 0 0 0 1px;
			}
			
			ul li {
				margin: 0;
			
				a {
					padding: 5px 10px;
					border: none;
					white-space: nowrap;
					
					&:before {
						display: none;
					}
					
					&:hover {
						background: #efefef;
					}					
					
				}
				
				&:first-child a	{ }	
				
			}			
		
		}			
		
	}
}

.globalnav 	{

	ul.sub-menu {
		margin-top: 0;
		position: absolute;
		left: 0;
		display: block;
		bottom: 0;
		zoom: 1;
		filter: alpha(opacity=0);
		opacity: 0;
		z-index: -999;
		border: 1px solid #d9d9d9;
		background: #fff url('../images/mod_back.png') repeat-x bottom;
	}
	
	li.last ul.sub-menu { left: auto; right: 0; }

}

.nav li.last { float: none; }

/* showing sub-menus on hover on 'no-touch' devices */
.no-touch .globalnav > ul > li:hover ul.sub-menu {
	top: auto;
	display: block;
	zoom: 1;
	filter: alpha(opacity=100);
	opacity: 1.0;
	@include transition(opacity 0.2s ease-in);
	bottom: auto;
	z-index: 8999;
}
			
/* this is here adjust for tablets....JS is used to toggle visibility on these devices */
.touch .globalnav > ul > li {

	ul.sub-menu {
		display: none;
		zoom: 1;
		filter: alpha(opacity=100);
		opacity: 1.0;
		top: auto;
		bottom: auto;
		z-index: 8999;
	}
}
			

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 0em;
}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	div.widget {
		padding: 0 10px;
		margin: 2.2em 0;

		&:first-child{ margin-top: 1em; }

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}


	/* links widget */
	.widget_links {}
	.widget_links ul {}
	.widget_links ul li {}
	.widget_links ul li a {}

	/* meta widget */
	.widget_meta {}
	.widget_meta ul {}
	.widget_meta ul li {}
	.widget_meta ul li a {}

	/* pages widget */
	.widget_pages {}
	.widget_pages ul {}
	.widget_pages ul li {}
	.widget_pages ul li a {}

	/* recent-posts widget */
	.widget_recent_entries {}
	.widget_recent_entries ul {}
	.widget_recent_entries ul li {}
	.widget_recent_entries ul li a {}

	/* archives widget */
	.widget_archive {}
	.widget_archive ul {}
	.widget_archive ul li {}
	.widget_archive ul li a {}
	.widget_archive select {}
	.widget_archive option {}

	/* tag-cloud widget */
	.widget_links {}
	.widget_links li:after {}
	.widget_links li:before {}
	.widget_tag_cloud {}
	.widget_tag_cloud a {}
	.widget_tag_cloud a:after {}
	.widget_tag_cloud a:before {}

	/* calendar widget */
	.widget_calendar {}
	#calendar_wrap {}
	#calendar_wrap th {}
	#calendar_wrap td {}
	#wp-calendar tr td {}
	#wp-calendar caption {}
	#wp-calendar a {}
	#wp-calendar #today {}
	#wp-calendar #prev {}
	#wp-calendar #next {}
	#wp-calendar #next a {}
	#wp-calendar #prev a {}

	/* category widget */
	.widget_categories {}
	.widget_categories ul {}
	.widget_categories ul li {}
	.widget_categories ul ul.children {}
	.widget_categories a {}
	.widget_categories select{}
	.widget_categories select#cat {}
	.widget_categories select.postform {}
	.widget_categories option {}
	.widget_categories .level-0 {}
	.widget_categories .level-1 {}
	.widget_categories .level-2 {}
	.widget_categories .level-3 {}

	/* recent-comments widget */
	.recentcomments {}
	#recentcomments {}
	#recentcomments li {}
	#recentcomments li a {}
	.widget_recent_comments {}

	/* search widget */
	#searchform {}
	.widget_search {}
	.screen-reader-text {}

	/* text widget */
	.textwidget {}
	.widget_text {}
	.textwidget p {}


/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links {
	ul {
		width: 80%;


		li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */

